body {
  padding-top: 50px;
  padding-bottom: 20px;
}
h2{
  text-align: center;
}
#t1,#t2,#t3,#t4,#t5,#t6,#t,#t7,#t8,#t9,#t10 {
  border: 2px solid grey;
  padding: 20px;
  margin-bottom: 60px;
}


.taskCondition {
    font-size: 16px;
    font-weight: 200;
    font-weight: bold;
    text-align: left;
}
